

<section class="m-article-list-thumb" id="j_article_list">
    <ul class="clearfix">
    </ul>
    <div class="m-paging" id="j_paging">
        <a class="prev disabled">&lt;</a>
        <a class="next disabled">&gt;</a>
    </div>
</section>

<script type="text/javascript">
    seajs.use(["assets/script/index.js"], function(index) {});
</script>